<%-include("header.ejs")%>



<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbviNmVH6sSUkUhLYpNgu5bmQaGp4qZWcpB2FnGcTBmxkZ1vTrTR5T0rmkUZuXqAOb-Xw&usqp=CAU" class="card-img-top" alt="Doctor Image">
                <div class="card-body">
                    <h5 class="card-title">Dr. Pramod Kapse (Kapse Eye Clinic)</h5>
                    <!-- <span class="badge bg-success">4.5 ★</span> <small>292 Ratings</small> -->
                    <p class="mt-2">C/o Kapse Eye Clinic, Court Lane, Ahmednagar - 414001</p>
                    <p class="text-success">Opens at 9:00 am tomorrow</p>
                    <button class="btn btn-success w-100">📞 Show Number</button>
                    <button class="btn btn-light w-100 mt-2">💬 WhatsApp</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-3 mt-5">
                <h4>Book Appointment for Dr. Pramod Kapse</h4>
                <div class="d-flex">
                    <button class="btn btn-primary me-2">Clinic Visit - ₹200</button>
                    <button class="btn btn-secondary" disabled>Schedule Video Consult - NA</button>
                </div>
               <h6 class="mt-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat sed vero delectus culpa saepe, placeat doloribus voluptatibus officia tempora facere fuga alias. Laborum eaque similique 
                possimus, labore consequatur nulla vitae!<br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quisquam natus reiciendis earum deleniti nisi dignissimos vel nulla mollitia! Iusto asperiores ut numquam fugiat aliquid odio eveniet sint nihil eum.<br><br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt rerum ex ipsam quidem voluptas rem dolore vero inventore aut consequuntur? Dolorem perspiciatis optio vero doloribus esse nisi sint a error!</h6>
            </div>
        </div>
    </div>
</div>






<div class="container my-5 ">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 mb-4" data-aos="fade-right">
            <img src="https://www.arohieye.in/wp-content/uploads/2023/05/State-of-the-Art-Eye-Care-Img-3.jpeg" class="img-fluid rounded shadow" alt="Eye Treatment">
        </div>
        <div class="col-lg-6 col-md-12">
            <h3 class="text-primary">If there is an eye problem, treatment will be guaranteed</h3>
            <hr>
            <ul class="list-unstyled">
                <li data-aos="fade-up">🔹 Eye examination and treatment</li>
                <li data-aos="fade-up">🔹 Cold phaco and laser center</li>
                <li data-aos="fade-up">🔹 Cataract surgery</li>
                <li data-aos="fade-up">🔹 Glaucoma surgery</li>
                <li data-aos="fade-up">🔹 Contact lenses</li>
                <li data-aos="fade-up">🔹 Treatment of baldness</li>
                <li data-aos="fade-up">🔹 Eye plastic surgery</li>
            </ul>
            <a href="/Pages/Apointment.html" class="btn btn-success" data-aos="fade-up">Book an Appointment</a>
        </div>
    </div>
</div>


    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade-right" >
                <img src="https://scontent.fnag4-2.fna.fbcdn.net/v/t39.30808-6/475078910_1152488166307406_8796862980641923239_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=sv9eSN97ltgQ7kNvgEKmCEJ&_nc_oc=Adilr7gPRDtsan6mI9bC4DOQvz4BvSNoLH2kjK8AJGeSLKhGDpLsplFTLGTcBDOLinTayKIguIUXRKKwdvVHKAOB&_nc_zt=23&_nc_ht=scontent.fnag4-2.fna&_nc_gid=AjOUI_t8GHDZFPRSKGpPIF7&oh=00_AYD2GCCPBwhTXexe2kg24Tn5amrbfzxjnf4a_IFKbpstGA&oe=67C272A4" alt="Hospital Image" class="img-fluid">
            </div>
            <div class="col-md-6 text-dark p-4" style=" background-color:rgb(226, 245, 222);"  data-aos="fade-up">                <h2 class="fw-bold">Best Eye ClinicHospital in Ahmednagar</h2>
                <h4 class="fw-bold">Kapase Hospital & Research Centre</h4>
                <p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus est ab illo numquam voluptas facilis consequuntur debitis fugiat rerum autem inventore cumque deleniti commodi, repudiandae similique necessitatibus ad soluta doloremque.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, inventore rem non ab minima debitis, quo eius atque ipsum repellendus dolorum beatae quia, esse eos eum magnam laboriosam quaerat? Dolorum.
                </p>
                <!-- <button class="btn btn-light">Read More</button> -->
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



<hr>
<section id="team" class="py-5 bg-light">
    <div class="container  text-center">
        <h2 style="color: darkblue;">Meet Our Team</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbviNmVH6sSUkUhLYpNgu5bmQaGp4qZWcpB2FnGcTBmxkZ1vTrTR5T0rmkUZuXqAOb-Xw&usqp=CAU" class="card-img-top" alt="Doctor 1">
                    <div class="card-body">
                        <h5 class="card-title">Dr. kapse</h5>
                        <p class="card-text">Owenr and founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbviNmVH6sSUkUhLYpNgu5bmQaGp4qZWcpB2FnGcTBmxkZ1vTrTR5T0rmkUZuXqAOb-Xw&usqp=CAU" class="card-img-top" alt="Doctor 2">
                    <div class="card-body">
                        <h5 class="card-title">Dr. kapse</h5>
                        <p class="card-text">Head of Surgery</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbviNmVH6sSUkUhLYpNgu5bmQaGp4qZWcpB2FnGcTBmxkZ1vTrTR5T0rmkUZuXqAOb-Xw&usqp=CAU" class="card-img-top" alt="Doctor 3">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Kapse</h5>
                        <p class="card-text">Director of Pediatrics</p>
                    </div>
                </div>
            </div>
        </div>
   
<!-- 
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbviNmVH6sSUkUhLYpNgu5bmQaGp4qZWcpB2FnGcTBmxkZ1vTrTR5T0rmkUZuXqAOb-Xw&usqp=CAU" class="card-img-top" alt="Doctor 1">
                    <div class="card-body">
                        <h5 class="card-title">Dr. kapse</h5>
                        <p class="card-text">Owenr and founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbviNmVH6sSUkUhLYpNgu5bmQaGp4qZWcpB2FnGcTBmxkZ1vTrTR5T0rmkUZuXqAOb-Xw&usqp=CAU" class="card-img-top" alt="Doctor 2">
                    <div class="card-body">
                        <h5 class="card-title">Dr. kapse</h5>
                        <p class="card-text">Head of Surgery</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbviNmVH6sSUkUhLYpNgu5bmQaGp4qZWcpB2FnGcTBmxkZ1vTrTR5T0rmkUZuXqAOb-Xw&usqp=CAU" class="card-img-top" alt="Doctor 3">
                    <div class="card-body">
                        <h5 class="card-title">Dr. Kapse</h5>
                        <p class="card-text">Director of Pediatrics</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
AOS.init();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<%-include("Footer.ejs")%>





