<%-include("header.ejs")%>


<div class="container mt-5">
    <h1 class=" mb-4" style="color: darkblue;">Contact Us</h1>
    <h6>Contact Us
        Book a Complimentary Appointment by Visiting or calling Us!</h6>
    <div class="row">

<hr>
        <div class="container mt-5">
            <div class="row">
                <!-- Contact Information -->
                <div class="col-md-4 text-dark p-4 shadow-lg " style="  background-color:rgb(226, 245, 222);">
                    <h2>Welcome to Kapse Clinic</h2>
                    <p>Book a Complimentary Appointment by Visiting or Calling Us!</p>
                    <hr>
                    <p><strong>Kapase Clinic</strong></p>
                    <p>West Side Of Old District Court, Shivaji Road, Court Galli, Ahmednagar Ho, Ahmednagar - 414001 (Near District Court)</p>
                    <p><strong>Email:</strong> Kapsehospitals@gmail.com</p>
                    <p><strong>Phone:</strong> 9322733724 / 123456789</p>
                    <p><strong>24/7 Services:</strong> We are open</p>
                    <div class="d-flex gap-2 text-dark">
                        <a href="#" class="text-white fs-4 ms-4 text-dark"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="text-white fs-4 ms-4 text-dark"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="text-white fs-4 ms-4 text-dark"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="text-white fs-4 ms-4 text-dark"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <!-- Contact Form -->
                <div class="col-md-8 p-4">
                    <h2>Get In Touch</h2>
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Your Name</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Cell Phone</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Subject</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Message</label>
                            <textarea class="form-control" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Send Message</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>

<hr>


<!-- <map></map> -->

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12" >
                <div class="ratio" style="height: 400px;">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d3!2d74.7329818!3d19.0940173!2m2!1f0!2f90!3m2!1i1024!2i768!4f114.41300927626448!3m3!1m2!1s0x3bdcb069126730a3%3A0x3b268ab2c2685200!2sKapase%20Eye%20Clinic%20-%20LASIK%20and%20Advanced%20Cataract%20Center!5e0!4v1739699641657" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>




    
    <!-- Contact Section -->
    <div class="contact-section mt-4 shadow-lg">
        <div class="container">
            <div class="row text-center text-md-start gy-4">
                <!-- Phone Contact -->
                <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
                    <div class="contact-item w-100">
                        <div class="icon-box">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="contact-text">
                            <h5>+91 2345672345</h5>
                            <h5>+91 1234567890</h5>
                            <p>Have a question? Call us now</p>
                        </div>
                    </div>
                </div>
    
                <!-- Email Contact -->
                <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
                    <div class="contact-item w-100">
                        <div class="icon-box">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contact-text">
                            <h5>feedback@kapsehospital.com</h5>
                            <p>Need support? Drop us an email</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
  





    <%-include("Footer.ejs")%>